{% extends "base.html" %}
{% block title_row %}{% endblock %}
{% block title_ruler %}{% endblock %}

{% block media %}
    {% include "notice/media-css.html" %}
    <style>
        .post {
            margin: 0 1.4em;
        }
        .post:first-child {
            margin-top: 0.6em;
        }

        .sidebox h3.backcolor {
            background: #3b3b3b;
        }

    </style>
{% endblock %}


{% macro contest_head(contest) %}
    {% spaceless %}
        <a href="{{ url('contest_view', contest.key) }}" class="contest-list-title">
            {{- contest.name -}}
        </a>
        <span class="contest-tags">
            {% if not contest.is_public %}
                <span style="background-color: #000000; color: #ffffff" class="contest-tag">
                    <i class="fa fa-eye-slash"></i> {{ _('private') }}
                </span>
            {% endif %}
            {% if contest.is_rated %}
                <span style="background-color: #e54c14; color: #ffffff" class="contest-tag">
                    <i class="fa fa-bar-chart"></i> {{ _('rated') }}
                </span>
            {% endif %}
            {% for tag in contest.tags.all() %}
                <span style="background-color: {{ tag.color }}" class="contest-tag">
                    <a href="{{ url('contest_tag', tag.name) }}"
                       style="color: {{ tag.text_color }}"
                       data-featherlight="{{ url('contest_tag_ajax', tag.name) }}">
                        {{- tag.name -}}
                    </a>
                </span>
            {% endfor %}
        </span>
    {% endspaceless %}
{% endmacro %}

{% macro time_left(contest) %}
    <div class="time time-left">
        {% if contest.time_limit %}
            <span class="timefont">{{ contest.start_time|date(_("Y년 m월 j일 (D) H시 i분")) }}</span>부터
            <span class="timefont">{{ contest.end_time|date(_("Y년 m월 j일 (D) H시 i분")) }}까지 {{ _('%(time_limit)s', time_limit=contest.time_limit|timedelta('localized-no-seconds')) }}</span>
            동안 진행됩니다.
        {% else %}
            <span class="timefont">{{ contest.start_time|date(_("Y년 m월 j일 (D) H시 i분")) }}</span>부터
            <span class="timefont">{{ _('%(duration)s', duration=contest.contest_window_length|timedelta('localized-no-seconds')) }}</span>
            동안 진행됩니다.
        {% endif %}
    </div>
{% endmacro %}

{% block body %}
    <div id="blog-container">
        <div class="blog-content sidebox">
            <div class="content-description">
                <h3>{{ _('현재 진행중인 코딩 능력 평가') }}</h3>
                <div class="sidebox-content">
                    {% if current_contests %}
                        <table class="contest-list table striped" id="contest-now-table">
                            <tbody>
                            {% for contest in current_contests %}
                                <tr>
                                    <td style="width:90%">
                                        <div class="contest-block">
                                            {{ contest_head(contest) }}
                                            {% if contest.start_time %}
                                                <br>
                                                {% if contest.time_before_end %}
                                                    <span class="time">{{ _('%(countdown)s 후에 종료됩니다.', countdown=contest.time_before_end|as_countdown) }}</span>
                                                {% elif contest.free_start and contest.start_time %}
                                                    <span class="time">{{ _('%(time)s 에 시작됩니다.', time=contest.start_time|date(_("Y년 m월 j일 (D), H시 i분"))) }}</span>
                                                {% endif %}
                                                {{ time_left(contest) }}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <br>
                <h3 class="backcolor">{{ _('Upcoming Contests') }}</h3>
                <div class="sidebox-content">
                    {% if future_contests %}
                        <table id="contest-future-table" class="contest-list table striped">
                            <tbody>
                            {% for contest in future_contests %}
                                <tr>
                                    <td>
                                        <div class="contest-block">
                                            {{ contest_head(contest) }}
                                            {% if contest.start_time %}
                                                <br>
                                                {% if contest.time_before_start %}
                                                    <span class="time">{{ _('%(countdown)s 후에 시작됩니다', countdown=contest.time_before_start|as_countdown) }}</span>
                                                {% endif %}
                                                {{ time_left(contest) }}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <br>
                <h3 class="backcolor">{{ _('과거 진행된 코딩 능력 평가') }}</h3>
                <div class="sidebox-content">
                    {% if past_contests %}
                        <table class="contest-list table striped">
                            <tbody>
                            {% for contest in past_contests %}
                                <tr>
                                    <td>
                                        <div class="contest-block">
                                            {{ contest_head(contest) }}
                                            {{ time_left(contest) }}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="blog-sidebar">
            <div class="blog-sidebox sidebox">
                <h3 class="backcolor">{{ _('공지') }} <i class="fa fa-terminal"></i></h3>
                <div class="sidebox-content">
                    {% for post in posts %}
                        <section class="{% if post.sticky %}sticky {% endif %}post">
                            <h4 class="title">
                                <a href="{{ url('notice_post', post.id) }}">{{ post.title }}</a>
                            </h4>
                            <span class="time">
                            {%- if post.sticky %}<i title="Sticky" class="fa fa-star fa-fw"></i>{% endif -%}
                                {% with authors=post.authors.all() %}
                                    {%- if authors -%}
                                        <span class="post-authors">{{ link_users(authors) }}</span>
                                    {%- endif -%}
                                {% endwith %}
                                {{ relative_time(post.publish_on, abs=_('{time}에 게시'), rel=_('{time}에 게시')) -}}
                        </span><span class="comment-data">
                            <a href="{{ url('notice_post', post.id) }}#comments" class="comment-count-link">
                            </a>
                        </span>
                            <hr>
                            <div class="summary content-description">
                                {% cache 86400 'post_summary' post.id %}
                                    {{ post.summary|default(post.content, true)|safe }}
                                {% endcache %}
                            </div>
                        </section>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
