{% extends "common-content.html" %}

{% block media %}
    <style>
        @font-face{
         font-family:'digital-clock';
        unicode-range: U+30-39;
         src: url('../static/digital.ttf');
        }
        .time-left {
            text-align: left;
            color: #777;
            padding-top: 0.5em;
        }
        .timefont {
            font-family:'digital-clock';
            font-size: 16px;
        }
    </style>
{% endblock %}

{% block js_media %}
    <script src="{{ static('libs/featherlight/featherlight.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.time-remaining').each(function () {
                count_down($(this));
            });

            $('.contest-tag').find('a[data-featherlight]').featherlight();

            $('.join-warning').click(function () {
                return confirm('{{ _('Are you sure you want to join?') }}\n' +
                    '{{ _('Joining a contest for the first time starts your timer, after which it becomes unstoppable.') }}');
            });

            // var tooltip_classes = 'tooltipped tooltipped-e';
            //
            // $('.contest-tag').each(function () {
            //     var link = $(this);//
            //     link.mouseenter(function (e) {
            //         link.addClass(tooltip_classes).attr('aria-label', link.attr('data-description'));
            //     }).mouseleave(function (e) {
            //         link.removeClass(tooltip_classes).removeAttr('aria-label');
            //     });
            // });
        });
    </script>
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'list' %}
    {% set title = '코딩 능력 평가' %}
    {% include "contest/contest-list-tabs.html" %}
{% endblock %}

{% macro contest_head(contest) %}
    {% spaceless %}
        <a href="{{ url('contest_view', contest.key) }}" class="contest-list-title">
            {{- contest.name -}}
        </a>
        <span class="contest-tags">
            {% if not contest.is_public %}
                <span style="background-color: #000000; color: #ffffff" class="contest-tag">
                    <i class="fa fa-eye-slash"></i> {{ _('private') }}
                </span>
            {% endif %}
            {% if contest.is_rated %}
                <span style="background-color: #e54c14; color: #ffffff" class="contest-tag">
                    <i class="fa fa-bar-chart"></i> {{ _('rated') }}
                </span>
            {% endif %}
            {% for tag in contest.tags.all() %}
                <span style="background-color: {{ tag.color }}" class="contest-tag">
                    <a href="{{ url('contest_tag', tag.name) }}"
                       style="color: {{ tag.text_color }}"
                       data-featherlight="{{ url('contest_tag_ajax', tag.name) }}">
                        {{- tag.name -}}
                    </a>
                </span>
            {% endfor %}
        </span>
    {% endspaceless %}
{% endmacro %}

{% macro time_left(contest) %}
    <div class="time time-left">
        {% if contest.time_limit %}
            <span class="timefont">{{ contest.start_time|date(_("Y년 m월 j일 (D) H시 i분")) }}</span>부터 <span class="timefont">{{ contest.end_time|date(_("Y년 m월 j일 (D) H시 i분")) }}까지 {{ _('%(time_limit)s', time_limit=contest.time_limit|timedelta('localized-no-seconds')) }}</span> 동안
        {% else %}
            <span class="timefont">{{ contest.start_time|date(_("Y년 m월 j일 (D) H시 i분")) }}</span>부터 <span class="timefont">{{ _('%(duration)s', duration=contest.contest_window_length|timedelta('localized-no-seconds')) }}</span> 동안
        {% endif %}
    </div>
{% endmacro %}

{% block body %}
    <div class="content-description">
        {% if current_contests %}
            <h4>{{ _('현재 진행중') }}</h4>
            <table class="contest-list table striped" id="contest-now-table">
                <tbody>
                {% for contest in current_contests %}
                    <tr>
                        <td style="width:90%">
                            <div class="contest-block">
                                {{ contest_head(contest) }}
                                {% if contest.start_time %}
                                    <br>
                                    {% if contest.time_before_end %}
                                        <span class="time">{{ _('%(countdown)s 후에 종료됩니다.', countdown=contest.time_before_end|as_countdown) }}</span>
                                    {% elif contest.free_start and contest.start_time %}
                                        <span class="time">{{ _('%(time)s 에 시작됩니다.', time=contest.start_time|date(_("Y년 m월 j일 (D), H시 i분"))) }}</span>
                                    {% endif %}
                                    {{ time_left(contest) }}
                                {% endif %}
                            </div>
                        <div class="content-description">
                                {{ contest.description|safe }}
                        </div>
                            </td>
                        {% if not request.in_contest %}
                            <td style="width:15%">
                                {% if request.user.profile in contest.organizers.all() %}
                                    <form action="{{ url('contest_join', contest.key) }}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" class="unselectable button full participate-button"
                                               value="{{ _('참관') }}">
                                    </form>
                                {% else %}
                                    <form action="{{ url('contest_join', contest.key) }}" method="post">
                                        {% csrf_token %}
                                        <input type="submit"
                                               class="unselectable button full participate-button join-warning"
                                               value="{{ _('시작') }}">
                                    </form>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
        {% endif %}
        {% if future_contests %}
            <h4>{{ _('다음 코딩 능력 평가') }}</h4>
            <table id="contest-future-table" class="contest-list table striped">
                <thead>
                <tr>
                    <th>{{ _('코딩 능력 평가') }}</th>
                </tr>
                </thead>
                <tbody>{% for contest in future_contests %}
                    <tr>
                        <td>
                            <div class="contest-block">
                                {{ contest_head(contest) }}
                                {% if contest.start_time %}
                                    <br>
                                    {% if contest.time_before_start %}
                                        <span class="time">{{ _('%(countdown)s 후에 시작됩니다', countdown=contest.time_before_start|as_countdown) }}</span>
                                    {% endif %}
                                    {{ time_left(contest) }}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <i>{{ _('현재, 다음 코딩 능력 평가 계획이 잡혀있지 않습니다.') }}</i>
            <br>
        {% endif %}

    </div>
{% endblock %}
