{% extends "base.html" %}

{% block header %}
    {% if perms.judge.change_noticepost %}
        <div class="title-line-action">[<a href="{{ url('admin:judge_noticepost_change', post.id) }}">{{ _('Edit') }}</a>]
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="post-full">
        <div class="time">
            {% with authors=post.authors.all() %}
                {% if authors %}
                    <span class="post-authors">{{ link_users(authors) }}</span>
                {% endif %}
            {% endwith %}
            <span class="post-time">
                {% trans time=post.publish_on|date(_("N j, Y, g:i a")) %}
                    {{ time }}에 게시
                {% endtrans %}
            </span>
        </div>
        <div class="body content-description">
            {% cache 86400 'post_content' post.id MATH_ENGINE %}
                {{ post.content|safe}}
            {% endcache %}
        </div>
    </div>
{% endblock %}

{% block bodyend %}
    {{ super() }}
    {% if REQUIRE_JAX %}
        {% include "mathjax-load.html" %}
    {% endif %}
{% endblock %}
