{% extends "base.html" %}
{% block title_row %}{% endblock %}
{% block title_ruler %}{% endblock %}

{% block media %}
    {% include "notice/media-css.html" %}
    <style>
        .post {
            margin: 0 1.4em;
        }

        .post:first-child {
            margin-top: 0.6em;
        }

        .no-clarifications-message {
            font-style: italic;
            text-align: center;
        }
    </style>
{% endblock %}

{% block js_media %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.time-remaining').each(function () {
                count_down($(this));
            });

            $('.blog-sidebar').hide();
            $('#blog-tab').find('a').click(function (e) {
                e.preventDefault();
                $('#blog-tab').addClass('active');
                $('#event-tab').removeClass('active');
                $('.blog-content').show();
                $('.blog-sidebar').hide();
            });
            $('#event-tab').find('a').click(function (e) {
                e.preventDefault();
                $('#event-tab').addClass('active');
                $('#blog-tab').removeClass('active');
                $('.blog-content').hide();
                $('.blog-sidebar').show();
            });
        });
    </script>
{% endblock %}

{% block body %}
    {% block before_posts %}{% endblock %}
    <div id="mobile" class="tabs">
        <ul>
            <li id="blog-tab" class="tab active"><a href="#">
                <i class="tab-icon fa fa-info-circle"></i> {{ _('공지') }}
            </a></li>
            <li id="event-tab" class="tab"><a href="#"><i class="tab-icon fa fa-rss"></i> {{ _('Events') }}</a></li>
        </ul>
    </div>
    <div id="blog-container">
        <div class="blog-content sidebox">
            <h3>{{ _('공지') }} <i class="fa fa-terminal"></i></h3>
            <div class="sidebox-content">
                {% for post in posts %}
                    <section class="{% if post.sticky %}sticky {% endif %}post">
                        <h2 class="title">
                            <a href="{{ url('notice_post', post.id, post.slug) }}">{{ post.title }}</a>
                        </h2>
                        <span class="time">
                            {%- if post.sticky %}<i title="Sticky" class="fa fa-star fa-fw"></i>{% endif -%}
                            {% with authors=post.authors.all() %}
                                {%- if authors -%}
                                    <span class="post-authors">{{ link_users(authors) }}</span>
                                {%- endif -%}
                            {% endwith %}
                            {{ relative_time(post.publish_on, abs=_('{time}에 게시'), rel=_('{time}에 게시')) -}}
                        </span><span class="comment-data">
                            <a href="{{ url('notice_post', post.id, post.slug) }}#comments" class="comment-count-link">
                            </a>
                        </span>
                        <div class="summary content-description">
                            {% cache 86400 'post_summary' post.id %}
                                {{ post.summary|default(post.content, true)|safe }}
                            {% endcache %}
                        </div>
                    </section>
                {% endfor %}
            </div>
            {% if page_obj.num_pages > 1 %}
                <div style="margin-bottom:10px;margin-top:10px">{% include "list-pages.html" %}</div>
            {% endif %}
        </div>

        <div class="blog-sidebar">
            {% if request.in_contest and request.participation.contest.use_clarifications %}
                <div class="blog-sidebox sidebox">
                    <h3>{{ _('Clarifications') }} <i class="fa fa-question-circle"></i></h3>
                    <div class="sidebox-content">
                        {% if has_clarifications %}
                            <ul>
                                {% for clarification in clarifications %}
                                    <li class="clarification">
                                        <a href="{{ url('problem_detail', clarification.problem.code) }}"
                                           class="problem">
                                            {{ clarification.problem.name }}
                                        </a>
                                        <span class="time">{{ relative_time(clarification.date) }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="no-clarifications-message">
                                {{ _('No clarifications have been made at this time.') }}
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if current_contests %}
                <div class="blog-sidebox sidebox">
                    <h3>{{ _('진행중인 코딩 능력 평가') }} <i class="fa fa-trophy"></i></h3>
                    <div class="sidebox-content">
                        {% for contest in current_contests %}
                            <div class="contest">
                                <div class="contest-list-title">
                                    <a href="{{ url('contest_view', contest.key) }}">{{ contest.name }}</a>
                                </div>
                                <div class="time">
                                    {{ _('%(countdown)s 후 종료', countdown=contest.time_before_end|as_countdown) }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if future_contests %}
                <div class="blog-sidebox sidebox">
                    <h3>{{ _('다음 코딩 능력 평가') }} <i class="fa fa-trophy"></i></h3>
                    <div class="sidebox-content">
                        {% for contest in future_contests %}
                            <div class="contest">
                                <div class="contest-list-title">
                                    <a href="{{ url('contest_view', contest.key) }}">{{ contest.name }}</a>
                                </div>
                                <div class="time">
                                    {{ _('%(countdown)s 에 시작', countdown=contest.time_before_start|as_countdown) }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="blog-sidebox sidebox">
                <h3>{{ _('새로 추가된 연습 문제') }} <i class="fa fa-puzzle-piece"></i>
                </h3>
                <div class="sidebox-content">
                    <ul class="problem-list">
                        {% for problem in new_problems %}
                            <li><a href="{{ url('problem_detail', problem.code) }}">{{ problem.name }}</a></li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>
    {% block after_posts %}{% endblock %}
{% endblock %}
