html, body {
    font-family: "Apple SD Gothic Neo", AppleSDGothicNeo, "Noto Sans KR", "Nanum Gothic", "Malgun Gothic", 맑은고딕, 굴림, 돋움, Dotum, sans-serif;;
}

.logo {
    height: 44px;
    margin: 1px 30px 0 0;
}

#nav-container {
    max-width: 1498px;
    margin: 0 auto;
    background: #fff;
    height: 100%;
}

nav ul li a, nav ul li button {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    color: #FFF;
    padding: 22px 15px;
    height: 16px;
    font-size : 16px;
    line-height: 16px;
}

#user-links>ul>li>a>span {
    color: #940034;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    padding: 22px 15px;
}

#nav-shadow {
    height: 3px;
    background: linear-gradient(rgba(110, 0, 39, 0.5), transparent);
}

nav ul li a.active, nav ul li button.active {
    color: #fff;
    background: #940034;
}


nav ul li a:hover, nav ul li button:hover {
    color: #82002e;
}

nav ul li a:link, nav ul li button:link {
    color: #940034;
}

nav ul li a:link.active, nav ul li button:link.active {
    color: #fff;
}

nav ul li a:link:hover, nav ul li button:link:hover {
    color: #82002e;
}


nav ul li a, nav ul li button {
    color: #940034;
}

#page-container {
    margin-top: 20px;
}

h2.sub-title {
    font-weight: 500;
    color: #940034;
}

#content-right.problems {
  padding: 0 0 0 20px;
}

.button, button, input[type=submit] {
    background: #940034 none repeat scroll 0 0/auto padding-box border-box;
    background: linear-gradient(to bottom,#940034 0,#82002e 100%) repeat-x;
    border: 1px solid #82002e;
    border-radius: 0;
}

.button:hover, button:hover, input[type=submit]:hover {
    background: #940034;
}

.button.full, input[type=submit].full, button.full {
    padding: 13px 0;
    font-size: 18px;
}

.tabs .tab.active a, .tabs .tab.active span {
    border-top-color: #940034!important;
}

.tabs>ul>li>a, .tabs>ul>li>span {
     border-radius: 0;
}

.sidebox h3 {
    margin: 0 -5px;
    background: #940034;
    border-radius: 0;
    padding-top: 7px;
    font-size: 14px;
    padding-left: 10px;
}

.sidebox h3 .fa {
    color: white;
    float: right;
    margin: 0 5px 0 0;
}

#filter-form .filter-form-group {
    margin-top: 20px;
    font-style: normal;
}

#filter-form .form-label {
    margin-top: 20px;
    font-style: normal;
}

.table th {
    background-color: #940034;
    padding-top: 7px;
    font-size: 14px;
}

.table th:first-child,
.table thead th:first-child{
     border-top-left-radius: 0;
}

.table th:last-child,
.table thead th:last-child {
     border-top-right-radius: 0;
}

#navigation {
    background-color: #fff;
}

#nav-list {
    float:left;
    background-color: #fff;
    width: 50%;
}

#right-menu {
    float: right;
    background-color: #fff;
    width: 50%;
}

#nav-shadow {
    clear: both;
}

.home-nav-element {
    background-color: #fff;
}

#right-top-button {
    color: #940034 !important;
    padding: 0;
}

.right-form {
    margin: 0;
    padding-left: 13px;
}

.contest-list th,
#judge-status th,
#judge-versions th,
#runtime-info th {
    padding: 0;
}

footer {
    height: auto;
    background: #363a43;
}

footer div > ul {
    float: left;
    text-align: left;
    list-style-type: none;
}

footer div {
    max-width: 1180px;
    margin: 0 auto;
}

footer div > ul li a {
    font-weight: bold;
    color: #ccc;
}

em, address {
    font-style: normal;
    display: inline-block;
}