html, body {
    font-family: "Apple SD Gothic Neo", AppleSDGothicNeo, "Noto Sans KR", "Nanum Gothic", "Malgun Gothic", 맑은고딕, 굴림, 돋움, Dotum, sans-serif;;
}

.logo {
    height: 44px;
    margin: 1px 0 0 50px;
}

#nav-container {
    background: #fff;
    height: 100%;
}

nav ul li a, nav ul li button {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    color: #FFF;
    padding: 22px 15px;
    height: 16px;
    font-size : 16px;
    line-height: 16px;
}

nav ul li:first-child {
    padding-left: 30px;
}


#nav-shadow {
    height: 3px;
    background: linear-gradient(rgba(110, 0, 39, 0.5), transparent);
}

nav ul li a.active, nav ul li button.active {
    color: #fff;
    background: #940034;
}


nav ul li a:hover, nav ul li button:hover {
    color: #fff;
    background: #82002e;
}

nav ul li a:link, nav ul li button:link {
    color: #940034;
}

nav ul li a:link:hover, nav ul li button:link:hover {
    color: #fff;
    background: #82002e;
}


nav ul li a, nav ul li button {
    color: #940034;
}