html, body {
    font-family: "Apple SD Gothic Neo", AppleSDGothicNeo, "Noto Sans KR", "Nanum Gothic", "Malgun Gothic", 맑은고딕, 굴림, 돋움, Dotum, sans-serif;;
}

#nav-container {
    background: #fff;
    height: 100%;
}

#nav-shadow {
    height: 3px;
    background: linear-gradient(rgba(110, 0, 39, 0.5), transparent);
}

nav ul li a.active, nav ul li button.active {
    color: #fff;
    background: #940034;
}

.logo {
    height: 44px;
}

nav ul li a:hover, nav ul li button:hover {
    color: #82002e;
}

nav ul li a:link, nav ul li button:link {
    color: #82002e;
}