<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% block title %}{{ title }} - 고려대학교 코딩 능력 평가 시스템{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% if meta_description %}
        <meta name="description" content="{{ meta_description }}">
    {% endif %}
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script>window.bad_browser = true</script>
    <![endif]-->
    {% block meta %}{% endblock %}
    {% if not INLINE_FONTAWESOME %}
        <link rel="stylesheet" href="{{ static('libs/fontawesome/css/fontawesome.min.css') }}">
    {% endif %}
    {% compress css %}
        <link rel="stylesheet" href="{{ static('style.css') }}">
        <link rel="stylesheet" href="{{ static('additions.css') }}">
        {% if PYGMENT_THEME %}
            <link rel="stylesheet" href="{{ static(PYGMENT_THEME) }}">
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{ static('libs/featherlight/featherlight.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ static('libs/clipboard/tooltip.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ static('libs/select2/select2.css') }}">
    {% endcompress %}
    <link rel="canonical"
          href="{{ DMOJ_SCHEME }}://{{ DMOJ_CANONICAL|default(site.domain) }}{{ request.get_full_path() }}">
    {% block media %}{% endblock %}
    {% if not INLINE_JQUERY %}
        <script src="{{ JQUERY_JS }}"></script>
    {% endif %}

    {% compress js %}
        <script>{{ inlinei18n(LANGUAGE_CODE)|safe }}</script>
        {% if INLINE_JQUERY %}
            <script src="{{ static('libs/jquery-1.11.2.min.js') }}"></script>
        {% endif %}
        <script src="{{ static('libs/jquery-cookie.js') }}"></script>
        <script src="{{ static('libs/jquery-taphold.js') }}"></script>
        <script src="{{ static('libs/jquery.unveil.js') }}"></script>
        <script src="{{ static('libs/moment.js') }}"></script>
        <script src="{{ static('libs/select2/select2.js') }}"></script>
        {% include "extra_js.html" %}
        <script src="{{ static('common.js') }}"></script>
        <script>
            moment.locale('{{ LANGUAGE_CODE }}');
            $(function () {
                $('img.unveil').unveil(200);
            });
        </script>
    {% endcompress %}
    {% block js_media %}{% endblock %}
    {% if request.in_contest %}
        <script>$(function () {
            count_down($("#contest-time-remaining"));

            var selected = null,
                x_pos = 0, y_pos = 0,
                x_elem = 0, y_elem = 0;

            $('#contest-info').mousedown(function () {
                selected = $(this);
                x_elem = x_pos - selected.offset().left;
                y_elem = y_pos - (selected.offset().top - $(window).scrollTop());
                return false;
            });

            if (localStorage.getItem("contest_timer_pos")) {
                data = localStorage.getItem("contest_timer_pos").split(":");
                $("#contest-info").css({
                    left: data[0],
                    top: data[1]
                });
            }

            $("#contest-info").show();

            $(document).mousemove(function (e) {
                x_pos = e.screenX;
                y_pos = e.screenY;
                x_pos = Math.max(Math.min(x_pos, window.innerWidth), 0);
                y_pos = Math.max(Math.min(y_pos, window.innerHeight), 0);

                if (selected !== null) {
                    left_px = (x_pos - x_elem) + 'px';
                    top_px = (y_pos - y_elem) + 'px';

                    localStorage.setItem("contest_timer_pos", left_px + ":" + top_px);

                    selected.css({
                        left: left_px,
                        top: top_px
                    });
                }
            });

            $(document).mouseup(function () {
                selected = null;
            })
        });
        </script>
    {% endif %}

    {% if request.user.is_authenticated %}
        <script>
            window.user = {
                email: '{{ request.user.email|escapejs }}',
                id: '{{ request.user.id|escapejs }}',
                name: '{{ request.user.username|escapejs }}'
            };
        </script>
    {% else %}
        <script>window.user = {};</script>
    {% endif %}

    {# Don't run userscript since it may be malicious #}
    {% if request.user.is_authenticated and request.user.profile.user_script %}
        <script type="text/javascript">{{ request.user.profile.user_script|safe }}</script>
    {% endif %}

    <noscript>
        <style>
            #content {
                margin: 80px auto auto;
            }

            #navigation {
                top: 27px;
            }
        </style>
    </noscript>
</head>
<body>
<nav id="navigation" class="unselectable">
    <div id="nav-container">
        <a id="navicon" href="javascript:void(0)"><i class="fa fa-bars"></i></a>
        <ul id="nav-list">
            <li class="home-nav-element"><a href="/"><img class="logo" src="{{ static('logo.gif') }}"></a></li>
            <li class="home-nav-element"><span class="nav-divider"></span></li>
            <li class="home-menu-item"><a href="/" class="nav-home">{{ _('Home') }}</a></li>
            {% for node in mptt_tree(nav_bar) recursive %}
                <li>
                    <a href="{{ node.path }}" class="nav-{{ node.key }}{% if node.key in nav_tab %} active{% endif %}">
                        {{ user_trans(node.label) }}
                        {% if not node.is_leaf_node %}
                            <div href="javascript:void(0)" class="nav-expand">></div>
                        {% endif %}
                    </a>
                    {% with children=node.get_children() %}
                        {% if children %}
                            <ul>{{ loop(children) }}</ul>{% endif %}
                    {% endwith %}
                </li>
            {% endfor %}
        </ul>

        {% if request.user.is_authenticated %}
            <ul id='right-menu'>
                <li>
                    <a href="{{ url('user_page') }}">
                        <i class="fa fa-user fa-fw"></i>&nbsp;
                        <span class="student_number">
                            {%- trans username=request.user.username -%}

                                <b>{{ username }}</b>
                            {%- endtrans %}
                        </span>
                    </a>
                </li>
                {% if request.user.is_staff or request.user.is_superuser %}
                    <li><a href="{{ url('admin:index') }}">{{ _('Admin') }}</a></li>
                {% endif %}
                <li><a href="{{ url('user_edit_profile') }}">{{ _('Edit profile') }}</a></li>
                <li>
                    <form action="{{ url('auth_logout') }}" method="POST">
                        {% csrf_token %}
                        <button type="submit">{{ _('Log out') }}</button>
                    </form>
                </li>
            </ul>
        {% else %}
            <span class="anon">
                <a href="{{ url('auth_login') }}?next={{ LOGIN_RETURN_PATH|urlencode }}">
                    <b>{{ _('Login') }}</b>
                </a>&nbsp;|&nbsp;<a href="{{ url('registration_register') }}">{{ _('Register') }}</a>
            </span>
        {% endif %}
    </div>
    <div id="nav-shadow"></div>
</nav>
{% if request.in_contest %}
    <div id="contest-info">
        <a href="{{ url('contest_view', request.participation.contest.key) }}" style="vertical-align: middle">
            {{ request.participation.contest.name }} -
            {% if request.participation.spectate %}
                {{ _('spectating') }}
            {% elif request.participation.end_time %}
                <div id="contest-time-remaining" data-secs="{{ request.participation.time_remaining|seconds }}">
                    {{ request.participation.time_remaining|timedelta("localized") }}
                </div>
            {% else %}
                {{ _('virtual') }}
            {% endif %}
        </a>
    </div>
{% endif %}
<div id="page-container">
    <noscript>
        <div id="noscript">{{ _('This site works best with JavaScript enabled.') }}</div>
    </noscript>
    <br>
    <main id="content">
        {% block title_row %}
            <h2 class='sub-title' style="display:inline">
                {% block content_title %}
                    {% if content_title %}{{ content_title }}{% else %}{{ title }}{% endif %}
                {% endblock %}
            </h2>
        {% endblock %}
        {% block header %}{% endblock %}
        {% block title_ruler %}
            <hr>
        {% endblock %}
        <div id="content-body">{% block body %}{% endblock %}</div>
    </main>
    {% block bodyend %}{% endblock %}

    <footer>
        <span id="footer-content">
            <br>
            <a style="color: #808080" href="https://dmoj.ca">proudly powered by <b>DMOJ</b></a> |
            <form action="{{ url('set_language') }}" method="post" style="display: inline">
                {% csrf_token %}
            <input name="next" type="hidden" value="{{ request.get_full_path() }}">
            <select name="language" onchange="form.submit()" style="height: 1.5em">
                {% for language in language_info_list(LANGUAGES) %}
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
          </form>
        </span>
    </footer>
</div>
</body>
</html>
